<header class="header">

  <nav class="header__nav">
    <span class="header__titulo"><i class="fas fa-bars icon"></i>Menu Itens</span>

    <a class="header__nav__link" [routerLink]="['']" routerLinkActive="router-link-active"><i class="fas fa-home icon"></i>  Home</a>
    <a class="header__nav__link" [routerLink]="['produto']" routerLinkActive="router-link-active"><i class="fab fa-product-hunt icon"></i>  Produtos</a>
    <a class="header__nav__link" [routerLink]="['vendas']" routerLinkActive="router-link-active"><i class="fas fa-cart-plus icon"></i>  Vendas</a>
    <a class="header__nav__link" [routerLink]="['vendedor']" routerLinkActive="router-link-active"><i class="fas fa-user-tie icon"></i>  Vendedor</a>
  </nav>
</header>

<main class="conteudoPrincipal">
  <h1 class="conteudoPrincipal__titulo">Teste - Desenvolvedor .NET</h1>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>